/* 색깔 : #3CA0FF */

body{
	margin: 0px;
	background-color: #efefef;
}

#wrap {
	background-color: #3ca0ff;
	width: 100%;
	height: 252px;
	float: left;
	text-align: center;
}

#bar{
	width: 100%;
	height: 42px;
	background-color: #3ca0ff;
	z-index: 101;
}

#logo{
	margin: 10px 10px 0px 10px;
	width: 32px;
	height: 32px;
	float: left;
}

#bar span{
	display: inline-block;
	margin-top: 10px;
	color: #FFFFFF;
}

#bar input{
	border-style: none;
	border-radius: 3px 0px 0px 3px;
	float: right;
	margin-top: 9px;
	outline-style: none;
	padding-left: 10px;
	padding-right: 10px;
	width: 30%;
	height: 22px;
}

#search{
	background-color: white;
	border-radius: 0px 3px 3px 0px;
	margin-top: 9px;
	margin-right: 10px;
	padding: 2px;
	float: right;
	width: 20px;
	height: 20px;
}
#left{
	min-width: 180px;
	width: 20.75%;
	overflow: scroll;
	float: left;
	position: fixed;
	display: inline-block;
	-ms-overflow-style: none; 
}
::-webkit-scrollbar {
display:none;

}
#profile{
	width: 100%;
	height: 258px;
	text-align: center;
	color: white;
}
#profile > img{
	width: 64px;
	height: 64px;
	margin: auto;
	margin-top: 20px;
}
#id{
	font-size: 18px;
}
#profile > div, #profile > table{
	margin-top: 10px; 
	
}

#profile > table{
	margin: 20px auto;
	width: 80%;
}

#menu{
	width: 100%;
	text-align: center;
}

#menu table{
	width: 100%;
	margin: auto;
}

#menu table td{
	width: 44.21%;
	height: 128px;
	margin: 5px 5px 0px 5px;
	display: inline-block;
	background-color: white;
	color: #3ca0ff;
	cursor: pointer;
	position: relative;
}

#menu table td img{
	width: 48px;
	height: auto;
	margin-top: 30px;
}

#board{
	width: 55%;
	background-color: #FFFFFF;
	padding: 30px;
	float: left;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	margin-top: 30px;
	text-align: left;
}

.tbFixed{
	position: fixed;
	top: 0px;
}

.wrapMargin{
	margin-top: 42px;
}

/* 메뉴 hover시 애니메이션 효과 */
#write:hover > #writeImg{
	animation: target_write 3s; 
 	transform-origin: 50%; 
}

#setting {
	text-align: center;
	position: relative;
}

#setting1{
	position: absolute; 
	top: -10px; 
	left: 40%;"
}
#setting2{
	position: absolute;
	top: 0px; 
	left: 33.41%;"
}
#setting:hover > div > div > #settingImg{
	animation: target_setting 3s; 
 	transform-origin: 50%; 
}

@keyframes target_setting {
  0% { transform: rotate(0); }
  100% { transform: rotate(360deg); }
}

@keyframes target_write {
  0% { transform: rotate(0); }
  30% { transform: rotate(-20deg); }
  60% { transform: rotate(20deg); }
  100% { transform: rotate(0deg); }
}

/*******************************/
#right{
	display: inline-block;
	width: 77.45%;
	margin-left: 21.5%;
}

/* 광고 */
#ad{
	width: 32%;
	height: 300px;
	background-color: #FFFFFF;
	border-radius: 5px;
	box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
	margin-top: 30px;
	margin-left: 3%;
	float: left;
}

#ad{
	color: #4f4f4f;
	font-size: 12px;
}
#ad > div{
	margin: 10px 5px 0px 10px;
	float: left;
}
#ad > div > img {
	margin-right: 5px;
	width: 20px;
	float: left;
}


/* 반응형 */

@media  ( min-width: 800px) and ( max-width: 1020px){
	#menu table td{
		width: 90%;
	}
}

@media ( max-width: 800px){
	#ad{
		display: none;
	}

	#left{
		width: 100%;
		position: relative;	
		overflow: auto;
	}
	#right{
		padding: 0px;
		margin: 2%;
		width: 96%;
	}
	#board{
		width: 89%;
	}

	#setting1{
	position: absolute; 
	top: -10px; 
	left: 45.41%;"
	}
	#setting2{
		position: absolute;
		top: 0px; 
		left: 42.41%;"
	}
}

/* 게시글 */
.boardBox{
	border-bottom: solid 1px #cccccc;
	padding: 5px 0px;
}
.boardBox > table{
	width: 100%;
}

.imgBox{
	width: 50px;
}
.userImg{
	width: 48px;
	height: 48px;
	margin-top: 5px;
}
.userName{
	font-weight: bold;
}
.btn{
	border: solid 1px #3CA0FF;
	border-radius: 5px;
	width: 80px;
	height: 20px;
	display: inline-block;
	text-align: center;
	float: right;
	margin-left: 5px;
}

.btn > img{
	width: 18px;
	height: 18px;
}
 a:link { color: #3CA0FF; text-decoration: none;}
 a:visited { color: #3CA0FF; text-decoration: none;}
 a:hover { color: #3CA0FF; text-decoration: none;}
