body{
   margin: 0;
   background-color: transparent;
}

html{
   background: no-repeat center center fixed;
   background-size: cover;
}

#frontground{
   width: 100%;
   position: fixed;
   top: 0;
   left: 0;
   z-index: -1;
   background-color: rgba(0, 0, 0, 0.4);
   background-attachment: fixed;
}
.navbar-inverse{
   background-color: transparent;
   border: none;
}

.navbar-inverse .navbar-brand, .navbar-inverse .navbar-nav > li > a{
   color: white;
}

#wrapper{
   width: 95%;
   margin: 20px auto;
}

#columns{
   column-count: 2;
}

.card{
   display: inline-block;
   width: 90%;
   background: #fff;
   box-shadow: 0px 1px 1px #ccc;
   padding: 15px;
   margin: 10px;
   padding-top : 30px;
   position: relative;
}

.card .del{
   width: 20px;
   position: absolute;
   top: 5px;
   right: 5px;
   border: none;
   cursor: pointer;
}

.card > img{
   width: 100%;
   border-bottom: 1px solid #ccc;
   padding-bottom: 15px;
   margin-bottom: 5px;
}

.modify{
   width: 20px;
   height: 20px;
   position: absolute;
   padding: 0px;
   top: 5px;
   right: 25px;
   outline-style: none;
   border:none;
}
.modify > input{
   background-image: url("../icon/write.png");
   background-size: 100%;
   background-color: transparent;
   width: 20px;
   height: 20px;
   outline-style: none;
   border:none;
   padding: 0px;
}

.card p{
   font-family: "맑은 고딕";
   color: #333;
   margin: 0;
   padding-bottom: 10px;
}

.profile{
   width: 30px;
   height: 30px;
   float: left;
}
.profile img{
   width: 100%;
   border-bottom: 1px solid #ccc;
   padding: 0px;
   border-radius: 100px;
}

.card h5{
   display: inline-block;
   padding-left: 10px;
}
.bottom{
   position: relative;
   width: 100%;
   height: 30px;
}

.bottom form{
   width: 20px;
   height: 20px;
   position: absolute;
   top: 10px;
   right: 0px;
}
.bottom form input{
   background-image: url("../icon/comment1.png");
   background-size: 100%;
   background-color: transparent;
   width: 20px;
   height: 20px;
   outline-style: none;
   border:none;
   padding: 0px;
}

footer > img{
   position: fixed;
   right: 10px;
   bottom: 10px;
   width: 34px;
   cursor: pointer;
   z-index: 100;
}
/******************************/

@media(min-width: 960px){
   #columns{
      column-count: 3;
   }
}

@media(min-width: 1000px){
   #columns{
      column-count: 4;
   }
}

@media(min-width: 1800px){
   #columns{
      column-count: 5;
   }
}
@media(max-width: 768px){
   .navbar-right{
         float: left !important;
       margin-right: -15px;
   }

   .navbar-right li{
      display: inline-block;
      right: 0;
   }
   .arrow:first-child{
      left: 3%;
   }

   .arrow:nth-child(3){
      right: 3%;
   }
}


/************************************/

#img_section{
   position: absolute;
   width: 100%;
   background-color: rgba( 0, 0, 0, 0.3);
   top: 0;
   left: 0;
   display: none;
}

#currentImg{
   width: 40%;
   min-width: 400px;
   margin: auto;
   padding-bottom: 30px;
   margin-top: 80px;
   position: relative;
}

#currentImg > img:first-child{
   width: 100%;
}

#currentImg > img:last-child{
   position: absolute;
   top: 10px;
   right: 10px;
   width: 25px;
   cursor: pointer;
}

#album_section{
   width: 100%;
   text-align: center;
   cursor: pointer;
}

#album_section > ul{
   max-width: 70%;
   height: 100%;   
   overflow-x: scroll;
   white-space: nowrap;
   list-style: none;
   padding: 0px;
   margin-top: 60px;
   display: inline-block;
   -ms-overflow-style: none;
}

.albumImg{
   display: inline-block;
}

.albumImg > img{
   width: 150px;
   height: 150px;
   margin-right: 10px;
   pointer-events: none
}

::-webkit-scrollbar {
   display:none;
} 

.no-drag {-ms-user-select: none; -moz-user-select: -moz-none; -webkit-user-select: none; -khtml-user-select: none; user-select:none;}

.arrow{
   display: inline-block;
   height: 100%;
}

.arrow > img{
   width: 32px;
}

/**********************************/